.dropzone {
  height: calc(100dvh - 77px);
  text-align: center;

  &__inner {
    position: relative;
  }

  &__choice-button {
    min-width: 330px;
    min-height: 80px;
    font-weight: 500;
    font-size: 24px;
  }

  &--drop {
    border: 3px dashed $color-blue;
    background-color: rgb($color-black, 30%);
    transition: all 0.1s ease-in-out;
  }

  &--focused {
    border: 3px dashed $color-blue;
    transition: all 0.1s ease-in-out;
  }
}
