.preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  width: 128px;
  height: 128px;
  transform: translate(-50%, -50%);

  &__text {
    display: block;
    text-align: center;
  }
}
