.header {
  box-shadow: 0 3px 6px 0 rgb(50 50 50 / 30%);
  background-color: $color-white-main;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
